*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 10vh;
    background-color: #ececec; 
}


.menubar{
    width: 45%;
    margin-left: 8.5em;
}

.list{
    display: flex;
    justify-content: space-between;
}

.list-tems a{
    font-family: sans-serif;
    font-size: 0.9em;
    transition: 0.4s;
}

.burger{
    height: 28px;
    width: 32px;
    display: none;
}

.layer1, .layer2, .layer3{
    background: black;
    height: 4px;
    margin-top: 4px;
    width: 30px;
    border-radius: 10px;
}

.menu-sidebar{
    display: none;
}

.fa-times{
    margin-top: 0.5em;
}

.container{
    margin: 0px auto;
}

/* .top-header{
    text-align: center;
    height: 60px;
} */
/*logo will be added later with this style. Subject to change*/
.logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}

.logo img{
    width: 60%;
    float: left;
    padding: 10px 0px;
}

.logo-text{
    font-size: .5em;
    left: 20px;
    top: 20px;
}
/* My menu styling goes here
#menu{
    float: right;
    width: 70px;
    height: 100%;
    margin: none;
} */

img{
    width: 10%;
    border-radius: 100%;
    margin-left: 10px; 
}

h5{
    margin-left: 15px;
    margin-top: 0px;
}


li a:hover{
    background: #0074d9;
    color: #fff;
    /* margin: 20px 16px; */
    padding: 10px;
}

/*welcome*/
.welcome{
    overflow: hidden;
    width: auto; /*may set it to 1000*/
    margin: 0px auto;
}

.welcome .title{
    margin-top:20px;
    padding: 20px 20px 0px 20px;
    text-align: center;
    color: rgb(231, 235, 238);
    background-color: #333;
}
.welcome p{
    margin-bottom:40px;
    text-align: center;
}

#slogan{
    font-size: 0.5em;
}

/*Making section 2 defaulting style*/
#section-2{
    overflow: hidden;
    margin-top: 5em;
    padding-top: 1em;
    border-top: 2px solid rgba(0,0,0,0.15);
    text-align: center;
}

/*Making each row and column fit into something like a section
so that maybe tomorrow I can add more things. */
.row #column1,
.row #column2,
.row #column3
{
    float: left;
    width: 340px;
    padding: 80px 40px 80px 40px;
} 

/*Section 2 head styling*/

.column-title{
    margin: 1em;
    font-size: 1.6em;
    font-weight: 700;
}


/* making the links a button*/

.button{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    background-color: #0074d9;
    border-style: none;
    color:white;
    padding: 16px 32px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: blue;
    cursor: pointer;
}

/* At phones screen */

@media screen and (max-width:768px) {
    .menubar{
        display: none;
    }
    .burger{
        margin-left: 2em;
        display: block;
    }
    .burger:hover{
        cursor: pointer;
    }
    
    #section2 .title h1{
        font-size: 1.5em;
    }
    .menu-sidebar{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #ececec;
        z-index: 11;
        overflow: hidden;
        transform: translate(-100%);
        transition: 0.3s linear;
    }

    .menu-menubar{
        display: flex;
        height: 80%;
        justify-content: center;
    }
    .menu-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menu-sidebar .closemenu{
    position: absolute;
    right: 30px;
    font-size: 1.4em;
}

.menu-list-items a{
    color: #fff;
}
.menu-list-items a:hover
{
    color: #0074d9;
}
}

@media screen and (max-width: 480px) {
    *{
        font-size: 16px;
    }

    .burger{
        margin-left: 1em;
        display: block;
        width: 30px;
    }
    .burger:hover{
        cursor: pointer;
    }

}






/*footer*/
#footer #icon{ 
    display: block;
    margin-bottom: 1em;
    font-size: 3em;
}
.copyright{
    overflow: hidden;
    padding: 0.5em;
    border-top: 20px solid rgb(224, 224, 224);
    text-align: center;
    background: #333;
}
.copyright p{
    letter-spacing: 1px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.8);
}
.copyright a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
ul.contact{
    padding: 2em 0em 0em 0em;
    list-style: none;
    
}
ul.contact li{
    display: inline-block;
    padding: 0em 0.10em;
    font-size: 1em;
}
ul.contact li a{
    color: #FFF;
    background: #0074d9;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#contact{
    color: rgb(223, 215, 215);
}
